	* {
		margin : 0;
		padding : 0;
	}

	/******************** Popup SetUp***********************/
	.login {
		position : relative;
		min-width : 1200px;
		margin-top : 70px;
		/* width : 100vw; */
		/* top : 160px; */
	}
	.background_join {
		position: fixed;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.7);
		opacity: 0;
		z-index: -1;
		top : 0;
		left : 0;
	}
	
	.window_join {
		width: 100vw;
		height: 100vh;
		position: relative;
		top: 0;
		left: 0;
		min-width: 1200px;
	}
	
	.popup_join {
		width: 400px;
		height: 200px;
		background: white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -30%);
		text-align: center;
		z-index: -1;
	}
	
	#popup_joinGuide {
		margin: 2rem 0;
		letter-spacing: -0.08rem;
		color: #4b4b4b;
		padding : 7px 20px;
		font-size : 16px;
	}
	
	#popup_joinNo {
		width: 35%;
		height: 50px;
		border: none;
		background: white;
		color: black;
		font-size: 15px;
		letter-spacing: -0.085rem;
		font-weight: 500;
		cursor : pointer;
		border : 0.5px solid black;
	}
	
	#popup_joinOk {
		width: 35%;
		height: 50px;
		border: none;
		background: black;
		color: white;
		font-size: 15px;
		letter-spacing: -0.085rem;
		font-weight: 500;
		cursor : pointer;
	}
	
	.show_join {
		opacity: 1;
		z-index: 10;
		transition: all 0.3s;
	}
	
	.show_join .popup_join {
		z-index: 10;
		transform: translate(-50%, -50%);
		transition: all 0.3s;
	}
	
	
	/******* ****************/

	/**** 사이드 메뉴 ****/
	aside.mypage {
		width : 190px;
		padding : 20px;
		display : table-cell;
	}
	div.mypage-list {
		width : inherit;
	}
	div.mypage-list a.mypage-main {
		font-size: 23px;
   	 	text-decoration: none;
    	color: black;
    	display : block;
    	padding : 10px;
    	width : 190px;
	}
	div.mypage-list a.mypage-main::after{
		content: "";
	    width: inherit;
	    height: 2px;
	    background: black;
	    border: none;
	    position: relative;
	    top: 13px;
    	left: -10px;
	    display: block;
	    box-sizing: border-box;
	}
	li.on {
		padding : 10px;
	}
	div.mypage-menu-list ul{
		list-style : none;
		padding : 0;
		margin : 0;
	}
	div.mypage-menu-list ul li a.menu-title{
		font-size: 19px;
	    font-weight: 600;
	    letter-spacing: -0.02rem;
	    margin : 15px 0;
	    display : block;
	    text-decoration : none;
	    color : black;
	}
	div.mypage-menu-list ul li a.menu-title::after{
		content: "";
	    width: 190px;
	    height: 1px;
	    background: #d7d7d7;
	    position: relative;
	    top: 11px;
	    left: -10px;
	    display: block;
	}
	div.sub-menu-list ul {
		margin : 20px 0 0 0;
	}
	div.sub-menu-list ul li{
		font-weight: 300;
	    letter-spacing: -0.08rem;
	    padding: 10px 0;
	}
	div.sub-menu-list ul li a{
		text-decoration : none;
	    color: #959595;
	    font-size : 17.5px;
	}
	div.sub-menu-list ul li a:hover{
	    color: black;
	    font-size : 17.5px;
	    font-weight : 700;
	}
	
	/* content */
	div.container{
		display : flex;
		min-width : 1200px;
		width : 626px;
		margin : 0 auto;
	}
	div.sub-contents {
		display: table-cell;
	    top: 0;
	    left: 220px;
	    padding: 20px;
	    width : 100%;
	}
	div.gray-box {
		width : 100%;
		background : #f8f8f8;
	}
	div.gray-box p {
		font-size : 38px;
		letter-spacing : -0.08rem;
		display : inherit;
	}
	div.gray-box strong {
		font-size : 40px;
	}
	div.greeting-area {
		padding : 50px 50px;
		box-sizing : border-box;
	}
	div.greeting-area p::before {
	    content: "";
	    width: 70px;
	    height: 70px;
	    background-image: url(http://localhost:9000/dmu/resources/images/mypage_name.gif);
	    background-repeat: no-repeat;
	    background-size: cover;
	    display: inline-block;
	    vertical-align: middle;
	    margin-right : 20px;
	    border-radius : 50%;
	}
	div.purchase-list {
		width : 100%;
		margin : 50px 0;
	}
	div.purchase-title {
		color: #959595;
	    font-weight: 400;
	    letter-spacing: -0.04rem;
	    display: flex;
					align-items: center;
					padding: 0 0 20px 0;
	}
	div.purchase-title a {
		color: black;
	    text-decoration: none;
	    font-size: 25px;
	    display : flex;
	    align-items : center;
	}
	div.purchase-title a::after {
	    content: ">";
	    align-items: center;
	    font-size: 14px;
	    margin-left: 10px;
	    vertical-align: middle;
	    color:#959595;
	}
	div.purchase-title:before {
	    content: "";
	    width: 50px;
	    height: 50px;
	    background-image: url(http://localhost:9000/dmu/resources/images/ticket.svg);
	    background-repeat: no-repeat;
	    background-size: contain;
	    display: inline-block;
					background-position-y: 50%;
					margin-right : 10px;
	}
	div.purchase-title div p {
		margin : 0;
	}
	div.purchase-title div a.booking_detail p{
		color:#959595;
		text-decoration: none;
	    font-size: 15px;
	    display : flex;
	    align-items : center;
	    margin-top : 3px;
	}
	div.purchase-result::before {
	    content: "";
	    width: 100%;
	    height: 1px;
	    background: black;
	    display: block;
	}
	div.purchase-result-title {
		display: flex;
	    align-items: center;
	    justify-content: space-between;
	    background: #f8f8f8;
	    border: 0.5px solid #d9d9d9;
	    padding: 18px 30px;
	}
	div.purchase-result-title p {
		margin : 0;
		font-size : 17px;
	}
	div.purchase-result-title strong {
		font-size : 20px;
	}
	div.purchase-result-content {
		display : flex;
		padding : 0 30px;
		align-items: center;
		border: 0.5px solid #d9d9d9;
	}
	div.purchase-result-content img {
		width: 300px;
	    height: 200px;
	    background: gray;
	}
	div.purchase-result-content-text {
		margin-left: 50px;
					padding: 25px;
					box-sizing : border-box;
	}
	div.purchase-result-content-text a {
					display: block;
		font-size: 45px;
		margin-top: 35px;
		text-decoration : none;
		color : black;
	}
	div.purchase-result-content-text div {
		margin: 40px 0;
	    color: #363333;
	    font-size: 17px;
	}
	div.purchase-result-content-text span.date::after {
		content: ":";
	    color: #afafaf;
	    margin: 0 15px;
	}
	
	/****************** mypage_member.do *************************/
	
	div.page-title {
		margin : 10px 0 20px 0;
	}
	div.page-title h2 {
		margin : 0;
	}
	div.page-title::after {
	    content: "";
	    width: 100%;
	    height: 2px;
	    background: black;
	    display: block;
	    margin-top: 12px;
	}
	div.top-title {
		font-size : 19px;
	}
	div.top-title::after {
		content: "";
	    width: 100%;
	    height: 1px;
	    background: #d7d7d7;
	    display: block;
	    margin-top: 13px;
	}
	div.info-list ul {
		list-style : none;
		padding : 0;
		font-size: 17.5px;
	    font-weight: 400;
	    color: #252323;
	    margin-top : 50px;
	}
	div.info-list ul li {
		display : flex;
		margin : 25px 0;
	}
	div.info-list-title {
	    margin-right: 25px;
	    width: 100px;
	}
	div.form {
		margin-left : 125px;
		padding: 0 0 10px 0;
	}
	strong.new-password {
		font-size: 16px;
		font-weight: 400;
	    margin-bottom: 5px;
	    margin-top: 10px;
	    display : block;
	}
	div.password-area {
	    width: 400px;
	    height: 60px;
	    border : 0.5px solid #d7d7d7;
	}
	strong.check-pass{
		margin-top: 20px;
	}
	div.password-area input {
		width: inherit;
	    height: inherit;
	    box-sizing: border-box;
	    border : none;
	    padding : 16px;
	    font-size : 17px;
	}
	div.info-gender {
		display: flex;
					align-items: center;
	}
	div.radio-area input[name="gender"] {
		display : none;
	}
	div.radio-area{
		width : 100px;
	}
	div.radio-area input + label span.check {
		margin-left : 10px;
	}
	div.radio-area input + label::before {
	    content: "";
	    border: 0.5px solid #828282;
	    width: 25px;
	    height: 25px;
	    display: inline-block;
	    border-radius: 50%;
	    vertical-align: middle;
	}
	div.radio-area input:checked + label::before {
	    content: "";
	    border: 0.5px solid black;
	    width: 25px;
	    height: 25px;
	    display: inline-block;
	    border-radius: 50%;
	    vertical-align: middle;
	}
	div.radio-area input:checked + label::after {
	    content: "";
	    border: 0.5px solid black;
	    width: 10px;
	    height: 10px;
	    display: inline-block;
	    border-radius: 50%;
	    vertical-align: middle;
	    background: black;
	    position: relative;
	    left: -68.02px;
	}
	div.addrSimple {
		width : 730px;
		display: flex;
	    height: 50px;
	    justify-content: space-between;
	}
	input#zonecode {
		width: 150px;
		margin-right: 30px;
	    border : 0.5px solid #d7d7d7;
	    font-size: 17px;
	    padding: 16px;
	}
	input#addr1 {
		width: 350px;
		margin-right: 30px;
	    border : 0.5px solid #d7d7d7;
	    font-size: 17px;
	    padding: 16px;
	}
	#addressCheck {    
		width: 150px;
	    border: 0.5px solid black;
	    background: black;
	    color: white;
	    font-size: 17px;
	    letter-spacing: -0.08rem;
	}
	#addressCheck:hover {    
		width: 150px;
	    border: 0.5px solid black;
	    background: white;
	    color: black;
	    font-size: 17px;
	    letter-spacing: -0.08rem;
	    cursor : pointer;
	}
	input#addr2 {
		width: 100%;
	    height: 50px;
		box-sizing: border-box;
		margin-top : 10px;
	    border : 0.5px solid #d7d7d7;
	    margin-top: 10px;
	    font-size: 17px;
	    padding: 16px;
	}
	input::placeholder {
		color : #a6a6a6;
		font-weight : 300;
	}
	div.myinfo-box::after {
	    content: "";
	    width: 100%;
	    height: 1px;
	    background: #d7d7d7;
	    display: block;
	    margin: 40px 0 10px 0;
	}
	div.status a {
		font-size : 17px;
		text-decoration : underline;
		font-weight : 300;
		cursor : pointer;
		color : black;
	}
	div.btn-group {
		display : flex;
		justify-content : center;
		margin-top : 30px;
	}
	div.btn-area {
		width : 200px;
		height : 60px;
		margin: 0 15px;
	}
	button.secondary, button.primary {
	    width: inherit;
	    height: inherit;
	    font-size: 17.5px;
	    margin: 0 15px;
	}
	button.secondary {
		border : 0.5px solid black;
		color : black;
		background : white;
	}
	button.secondary:hover {
		border : 0.5px solid black;
		color : white;
		background : black;
		cursor : pointer;
	}
	button.primary {
		border : 0.5px solid black;
		color : white;
		background : black;
	}
	button.primary:hover {
		border : 0.5px solid black;
		color : black;
		background : white;
		cursor : pointer;
	}
	.footer {
		margin-top : 150px;
		margin-bottom : 0;
		padding-bottom : 0;
	}