#ticketwrite_exhibition{
	display : none;
}
#ticketwrite_event{
	display : none;
}
#ticketwrite_learn{
	display : none;
}
.ticketwrite_exhibition.on{
	display: block !important;
	width: 800px;
	margin : 0 auto;
}
.ticketwrite_event.on{
	display: block !important;
	width: 800px;
	margin : 0 auto;
}
.ticketwrite_learn.on{
	display: block !important;
	width: 800px;
	margin : 0 auto;
}
.snb-area[data-v-7b1f57c8] {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Geogrotesque', 'YoonGothic', sans-serif;
    font-weight: inherit;
    font-size: inherit;
}
div {
    display: block;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.snb-area .snb[data-v-7b1f57c8] {
    display: flex;
    justify-content: center;
}
.snb-area .snb li.on a[data-v-7b1f57c8] {
    position: relative;
    font-weight: 500;
    color: #000;
}
.snb-area .snb li.on a[data-v-7b1f57c8]:after {
    position: absolute;
    bottom: -0.0625rem;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background: #111;
    content: '';
}
.snb-area .snb li a[data-v-7b1f57c8] {
    margin: 0 1.5625rem;
    padding: 1.25rem 0.625rem;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.2;
    color: #999;
    letter-spacing: -0.045em;
    display: flex !important;
    justify-content: center;
    align-items: center;
}
body a, body a:hover, body a:visited {
    text-decoration: none;
    color: #111;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
body ol, body ul, body li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.btn-area[data-v-26e42198] {
    text-align: center;
}
.btn-area button[data-v-26e42198] {
    display: inline-block;
    min-width: 11.875rem;
    height: 3.75rem;
    padding: 0 0.625rem 0;
    text-align: center;
    letter-spacing: -0.04063rem;
    line-height: 3rem;
}
body button {
     outline: none; 
    border: 0; 
    background: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; 
    color: inherit;
}

.btn-area[data-v-26e42198] {
    text-align: center;
}

.btn-area button.secondary[data-v-26e42198] {
    border: 1px solid #111;
    color: #111;
    backgroundcolor: white;
}


.show div.popup {
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: all 0.5s;
}

.background_exhibition.show {
    z-index: 10;
    opacity: 1;
    transition: all 0.5s;
}

div.background_exhibition {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    z-index: -1;
}

div.background_exhibition .show {
    z-index: 10;
    opacity: 1;
    transition: all 0.5s;
}

div.window_exhibition {
    position: relative;
    width: 100%;
    height: 100vh;
}
div.popup_exhibition {
    position: absolute;
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: -1;
    box-shadow: 10px 10px 5px rgb(0 0 0 / 50%);
    padding : 30px 16px;
   margin : 0 auto;
}
p#popup_title {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 30px;
    padding: 10px 16px;
    flex-grow: 1;
    height : 40px;
    margin :15px; 
}
div.popup_detail {
    overflow: auto;
    padding: 25px;
    height: 100%;
    box-sizing: border-box;
    flex-grow: 5;
}
div.popup_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    
    flex-grow: 1;
}
div.popup_button button#popup_close {
    border: 0.5px solid black;
    background: black;
    color: white;
    width: 20%;
    height: 80%;
    font-size: 16px;
    letter-spacing: -0.08rem;
    margin: 0 10px;
    cursor: pointer;
}
strong.title.title_popup {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.17;
}
 div.left[data-v-8ed31374]{
    margin-bottom: 1.5rem;
    background: #f2f2f2;
}
div.left[data-v-8ed31374] {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reservation-area .title-ticket[data-v-8ed31374] {
    margin-bottom: 1.25rem;
    display: flex;
    justify-content : space-between;
}
.reservation-area .title-ticket .title[data-v-8ed31374] {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0.5rem;
    margin-top: 5px;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.8125rem;
    color: #111;
    letter-spacing: -0.05625rem;
}
input#dtitle {
    width: 85%;
    height: 40px;
    margin-top: 0.5rem;
    border: 0.5px solid #b1b1b1;
}
input#dtitle1 {
    width: 85%;
    height: 40px;
    margin-top: 0.5rem;
    border: 0.5px solid #b1b1b1;
}
input#dtitle2 {
    width: 85%;
    height: 40px;
    margin-top: 0.5rem;
    border: 0.5px solid #b1b1b1;
}
.reservation-area .title-ticket .explan[data-v-8ed31374] {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.42;
    color: #666;
    letter-spacing: -0.02813rem;
    width : 0px;
}
ul.ticketwriteul[data-v-8ed31374] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
ul.ticketwriteul li[data-v-8ed31374] {
    position: relative;
    width: 50%;
    margin: 0.625rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul.ticketwriteul .title[data-v-8ed31374] {
    display: inline-block;
    width: 7.45rem;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.63;
    color: #111;
    letter-spacing: -0.025rem;
    vertical-align: top;
}
ul.ticketwriteul .text[data-v-8ed31374] {
    display: inline-block;
    font-size: 1rem;
    line-height: 1.63;
    color: #111;
    letter-spacing: -0.025rem;
}
.reservation-area .info-ticket[data-v-8ed31374] {
    padding: 1.75rem 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.reservation-area .organ-ticket[data-v-8ed31374] {
    display: flex;
    padding: 1.625rem 0 2rem 0;
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    margin-bottom: 20px;
}
.reservation-area .organ-ticket .comment[data-v-8ed31374] {
    font-size: 1rem;
    line-height: 1.63;
    color: #666;
}
div.editor-contents-area textarea {
    resize: none;
    width: 800px;
    height: 150px;
    padding: 16px;
    overflow: auto;
    line-height: 20px;
    border: 0.5px solid #b1b1b1;
}
div.editor-contents-area textarea#dtime {
    resize: none;
    width: 680px;
    height: 100px;
    padding: 16px;
    overflow: auto;
    line-height: 20px;
    border: 0.5px solid #b1b1b1;
}

/***************** 추가 수정 *****************/
div.organ-ticket strong.title {
	width : 110px;
}
.ticket_dcode{
	width : 122px;
}
select {
	border: 0.5px solid #b1b1b1 !important;
    width: 13.6vw !important;
    height: 30px !important;
    padding: 0 10px !important;
}
input:not(input[type="file"]) {
	border: 0.5px solid #b1b1b1;
	height: 30px;
	width : 13.6vw;
	padding: 0 10px;
}
input[type="date"]{
	width : 6.43vw !important;
}
ul.ticketwriteul li[data-v-8ed31374]:nth-child(odd){
	padding-right : 17px;
}
ul.ticketwriteul li[data-v-8ed31374]:nth-child(even){
	padding-left: 17px;
}
strong[data-v-8ed31374].title#info:not(div.organ-ticket strong.title) {
    font-size: 20px;
				font-weight: 600;
}
button#btn_exhibition_Write1:hover,
button.secondary.small:hover {
    color: white;
    background: #5e5e5e;
}
.footer {
    margin-top: 150px;
}