<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace = "mapper.admin">

	<select id="memberList" parameterType="map" resultType="com.museum.vo.DmuMemberVO">
		select rno, mid, nationality, mname, gender, email, birth, pnumber, addr1, addr2, unregister, ddate, addr1||' '||addr2 address
				from(select rownum rno, mid, nationality, mname, gender, email, to_char(birth, 'yyyy-mm-dd') birth, pnumber, addr1, addr2, unregister, to_char(ddate, 'yyyy-mm-dd') ddate
				from(select mid, nationality, mname, gender, email, birth, pnumber, addr1, addr2, unregister, ddate from dmu_member
				order by ddate))
				where rno between #{start} and #{end}
	</select>
	
	<select id="memberList_public" parameterType="map" resultType="com.museum.vo.DmuMemberVO">
		select rno, mid, nationality, mname, gender, email, birth, pnumber, addr1, addr2, unregister, ddate, addr1||' '||addr2 address
				from(select rownum rno, mid, nationality, mname, gender, email, to_char(birth, 'yyyy-mm-dd') birth, pnumber, addr1, addr2, unregister, to_char(ddate, 'yyyy-mm-dd') ddate
				from(select mid, nationality, mname, gender, email, birth, pnumber, addr1, addr2, unregister, ddate from dmu_member where status in('public')
				order by ddate))
				where rno between #{start} and #{end}
	</select>


	<select id="memberList_admin" parameterType="map" resultType="com.museum.vo.DmuMemberVO">
		select rno, mid, nationality, mname, gender, email, birth, pnumber, addr1, addr2, unregister, ddate, addr1||' '||addr2 address, status
				from(select rownum rno, mid, nationality, mname, gender, email, to_char(birth, 'yyyy-mm-dd') birth, pnumber, addr1, addr2, unregister, to_char(ddate, 'yyyy-mm-dd') ddate, status
				from(select mid, nationality, mname, gender, email, birth, pnumber, addr1, addr2, unregister, ddate, status from dmu_member where status not in('public')
				order by ddate))
				where rno between #{start} and #{end}
	</select>
	
	<select id="totalCount" resultType="int">
		select count(*) from dmu_member
	</select>
	
	<select id="totalCount_reservation" resultType="int">
		select count(*) from dmu_reservation
	</select>
	
	<select id="totalCount_public" resultType="int">
		select count(*) from dmu_member where status='public'
	</select>
	
	<select id="totalCount_admin" resultType="int">
		select count(*) from dmu_member where status not in('public')
	</select>

	<select id="memberContent" parameterType="java.lang.String" resultType="com.museum.vo.DmuMemberVO">
		select mid, nationality, mname, gender, email, to_char(birth, 'yyyy-mm-dd') birth, pnumber, addr1||' '||addr2 address, unregister, ddate
				from dmu_member
				where mid=#{mid}
	</select>
	
	<select id="memberContent_admin" parameterType="java.lang.String" resultType="com.museum.vo.DmuMemberVO">
		select mid, nationality, mname, gender, email, to_char(birth, 'yyyy-mm-dd') birth, pnumber, addr1||' '||addr2 address, unregister, ddate, status
				from dmu_member
				where mid=#{mid}
	</select>
	
	<update id="updateStatus" parameterType="java.lang.String">
		update dmu_member set status='admin' where mid=#{mid}
	</update>
	
	<select id="reservationList" parameterType="map" resultType="com.museum.vo.DmuReJoinVO">
		 select  dt.dcode, dr.rid, dt.dtitle, dm.mname, to_char(dt.dprice,'999,999') dpricech, dr.rtotal,to_char(dr.rallprice,'999,999') rallpricech,to_char(dr.rdate, 'YYYY-MM-DD') rdateda,  to_char(dr.rokdate,'YYYY-MM-DD') rokdatech  from  dmu_ticket DT, dmu_reservation DR, dmu_member DM
	 		where  dm.mid = dr.mid and dt.did = dr.did   and dr.rid in (select rid from
                                      				  (select rownum rno, rid from dmu_reservation order by rokdate desc)
                                 				 			  where rno between #{start} and #{end})                             				 			  
	</select>
	
	<select id="reservationContent" parameterType="java.lang.String" resultType="com.museum.vo.DmuReJoinVO">                            				 			  
       select dt.dcode, dr.rid, dt.dtitle, dm.mname, to_char(dt.dprice,'999,999') dpricech, dr.rtotal,to_char(dr.rallprice,'999,999') rallpricech, to_char(dr.rokdate,'YYYY-MM-DD') rokdatech, to_char(dr.rdate,'YYYY-MM-DD') rdateda   
       from  dmu_ticket DT, dmu_reservation DR, dmu_member DM
		where dt.did = dr.did  and dm.mid = dr.mid  and dr.rid= (select rid from
                                      				  (select rid from dmu_reservation order by rokdate desc)
                                 				 			  where rownum = 1)                                				 			   
	</select>
	
	<select id="reservationDet" parameterType="java.lang.String" resultType="com.museum.vo.DmuReJoinVO">
		select dt.dsfile, dt.dtitle, to_char(dr.rokdate, 'YY-MM-DD') rokdatech, dr.rtotal, dt.dplace, dr.rcheck, to_char(dt.dprice,'999,999') dpricech, dr.rtotal, to_char(dr.rallprice,'999,999') rallpricech, dp.pcoin, dp.pdate, dti.tid, to_char(dr.rdate, 'YY-MM-DD') rdateda, dti.tcheck, dm.mid   
		from  dmu_ticket DT, dmu_reservation DR, dmu_member DM, dmu_payinfo DP, dmu_ticketinfo DTI
		 where dt.did = dr.did  and dm.mid = dr.mid and dr.rid = dp.rid and dp.pid = dti.pid                       				 			  
	</select>
	
	
 
</mapper>