<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace = "mapper.ticket">
	<!-- ticket update -->
	<update id="update" parameterType="com.museum.vo.DmuTicketVO">
		update dmu_ticket set dtitle=#{dtitle}, dstart=#{dstart}, dend=#{dend}, dprice=#{dprice}, dplace=#{dplace}, dinformation=#{dinformation}, dtime=#{dtime}, dpersonnel=#{dpersonnel},
        dtarget=#{dtarget}, dnum=#{dnum}, dfile=#{dfile}, dsfile=#{dsfile}  ,dtitle2=#{dtitle2} ,dentertime=#{dentertime}
        where did=#{did}
	</update>
	<!-- ticket select dtarget totalcount -->
	 <select id="dtargetCount" parameterType="java.lang.String" resultType="int">
	 	select count(*) from dmu_ticket where dend &gt; sysdate and dcode='learn' and dtarget= #{dtarget}
	 </select>
	 
	<!-- ticket select dcode totalcount -->
	 <select id="dcodeCount" parameterType="java.lang.String" resultType="int">
	 	select count(*) from dmu_ticket where dend &gt; sysdate and dcode= #{dcode}         
	 </select>
 
	<!-- select list dtarget dmu_ticket -->
	<select id="listdtarget" parameterType="map" resultType="com.museum.vo.DmuTicketVO">
		
		select rno,did,dplace,dtitle,dstart,dend,dfile,dsfile,dcode,dtime,dprice,dtarget,dnum,dtitle2,dentertime 
        from(select rownum rno,did,dplace,dtitle,dstart ,
        dend ,dfile,dsfile,dcode,dtime,dprice,dtarget,dnum,dtitle2,dentertime 
        from (select did,dplace,dtitle,dstart,dend,dfile,dsfile,dcode,dtime,dprice,dtarget,dnum ,dtitle2,dentertime from dmu_ticket where dcode = #{dcode} and dtarget= #{dtarget} and dend &gt; sysdate
        <choose>
        	
        	<when test='day==1'>
        	order by dstart asc
        	</when>
        	<otherwise>
        	order by dstart desc
        	</otherwise>
        </choose>
         ))
        where rno between #{start} and #{end}
        
	</select>
	
	<!-- select list dcode dmu_ticket -->
	<select id="listdcode" parameterType="map" resultType="com.museum.vo.DmuTicketVO">
   
    select rno, did, dplace,dtitle,dstart,dend,dfile,dsfile,dcode,dtime,dprice,dtarget,dnum,dtitle2,dentertime  
        from(select rownum rno,did,dplace,dtitle,   dstart ,
        dend ,dfile,dsfile,dcode,dtime,dprice,dtarget,dnum,dtitle2,dentertime 
        from (select did,dplace,dtitle,dstart,dend,dfile,dsfile,dcode,dtime,dprice,dtarget,dnum ,dtitle2,dentertime from dmu_ticket where dcode = #{dcode} and dend &gt; sysdate
        <choose>
        	
        	<when test='day==1'>
        	order by dstart asc
        	</when>
        	<otherwise>
        		order by dstart desc
        	</otherwise>
        </choose>
         ))
        where rno between #{start} and #{end} 
        
	</select>
	<!-- insert dmu_ticket -->
	<insert id="insert" parameterType="com.museum.vo.DmuTicketVO">
		insert into dmu_ticket values('d_'||sequ_dmu_ticket.nextval, #{dtitle}, #{dprice}, #{dplace}, #{dinformation}, #{dpersonnel},
		 #{dtime}, #{dtarget}, #{dnum}, #{dfile}, #{dsfile},#{dstart},#{dend}, #{dcode},#{dtitle2},#{dentertime})
	</insert>
	
	<!-- ticket delete -->
	<delete id="delete" parameterType="java.lang.String">
		delete from dmu_ticket where did=#{did}
	</delete>
	
	<!-- ticket select did -->
	 <select id="content" parameterType="java.lang.String" resultType="com.museum.vo.DmuTicketVO">
	 	select did, dtitle,dplace, dprice,to_char(dprice,'999,999') dpricech,dpersonnel ,
	 	dinformation,dtime,dtarget,dnum,dfile,dsfile,dstart,dend,TRUNC(TO_DATE(dend, 'YY-MM-DD') - SYSDATE)+1 ENDDATE,TRUNC(TO_DATE(dstart, 'YY-MM-DD') - SYSDATE)+1 STARTDATE,dentertime,dcode,dtitle2
	 	from dmu_ticket where did=#{did}
	 </select>
	 
	 <!-- insert rservationdate -->
	 <insert id="reservationdate" parameterType="com.museum.vo.DmuReJoinVO">
	 	insert into dmu_reservation values(#{rid}||sequ_dmu_reservation.nextval,#{did},#{rprice},#{rtime},#{rdate},#{rtotal},#{rallprice},sysdate,'y','',#{mid})
	 </insert>
	 
	 <select id = "ridnew" resultType = "java.lang.String">
	 	select sequ_dmu_reservation.currval rid from dual
	 </select>
	 
	  <insert id="reservationdatePay" parameterType="com.museum.vo.DmuReJoinVO">
	 	insert into dmu_payinfo values(#{pid},#{did},#{mid},#{rid}, sysdate,#{pcoin})
	 </insert>
	 
	 <select id = "pidnew" resultType = "java.lang.String">
	 	select 'P_' || sequ_DMU_PAYINFO.currval pid from dual
	 </select>
	 
	 <insert id = "insert_ticket" parameterType="com.museum.vo.DmuReJoinVO">
	 	insert into dmu_ticketinfo values(#{tid}, #{did}, #{rid}, 'y', #{pid}, #{mid})
	 </insert>

	 <!-- ticket reservationContent  -->
	 <select id="reservationContent" parameterType="java.lang.String" resultType="com.museum.vo.DmuReJoinVO">
		select dt.did, dt.dtitle,dt.dplace, to_char(dt.dprice,'999,999') dpricech ,dr.rdate, to_char(dr.rdate, 'YY-MM-DD') rdateda ,
		dr.RTOTAL, to_char(dr.rallprice,'999,999') rallpricech, dr.rallprice, dm.mid, dr.rprice         from dmu_ticket DT , dmu_reservation DR , dmu_member DM
		where dm.mid = dr.mid and dt.did = dr.did  and dr.rid= (select rid from (select rid from dmu_reservation order by rokdate desc) where rownum = 1)
	 </select>
	 
	 <!-- ticket Complete -->
	 <select id="CompleteContent" parameterType="java.lang.String" resultType="com.museum.vo.DmuReJoinVO">
	 select   dt.dsfile, dt.dtitle, dt.dplace, dr.rid,dr.rdate, to_char(dr.rdate, 'YY-MM-DD') rdateda, dr.rtotal,to_char(dr.rallprice,'999,999') rallpricech, dm.mname,dm.mid,  dt.dcode from  dmu_ticket DT, dmu_reservation DR, dmu_member DM
	where  dm.mid = dr.mid and dt.did = dr.did   and dr.rid= (select rid from
      (select rid from dmu_reservation order by rokdate desc) where rownum = 1) 
	 </select>
	 
  
	 
	 <!-- ticket Sellout -->
	 <select id = "ticketSellout" parameterType = "map" resultType = "java.lang.String">
	 	select (dpersonnel - total) total
	 	from (select count(tid) total, dpersonnel
			from (select DISTINCT tid, dpersonnel from dmu_ticketinfo dti, dmu_reservation dr, dmu_ticket dt 
			        where dti.did = dt.did and dr.rid = dti.rid 
			        	and dt.did = #{did} and TO_DATE(dr.rdate) = TO_DATE(#{rdate}) and dti.tcheck = 'y')
	        group by dpersonnel)
	 </select>
</mapper>

  